.github/
local.settings.json
tenants.cache.json
chocoapps.cache
*.log

Cache_*
Logs
ExcludedTenants
SendNotifications/config.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.env
