.github/
local.settings.json
tenants.cache.json
chocoapps.cache
*.log

Cache_*
Logs
ExcludedTenants
SendNotifications/config.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.env
Output/
node_modules/.yarn-integrity
yarn.lock

# Cursor IDE
.cursor/rules

# AI
CLAUDE.md
.claude

# Ignore all root PowerShell files except profile.ps1
/*.ps1
!/profile.ps1
